@font-face {
    font-family: 'Alagard';
    src: url('../fonts/alagard.ttf');
}
.root{
    -fx-background-size: cover, cover, cover, cover;
    -fx-background-position: top, top, top, top;
    -fx-background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;

    -fx-background-image:
            url("../images/forest/parallax-forest-back-trees_800px.png"),
            url("../images/forest/parallax-forest-lights_800px.png"),
            url("../images/forest/parallax-forest-middle-trees_800px.png"),
            url("../images/forest/parallax-forest-front-trees_800px.png")
}
.buttonTransparentAndFont {
    -fx-font-family: 'Alagard';
    -fx-background-color: transparent;
}
.exitButton {
    -fx-font-size: 40px;
    -fx-text-fill: lightgreen;
}
.nextButton {
    -fx-font-size: 50px;
    -fx-text-fill: lightgreen;
}
.startSceneButtons {
    -fx-font-family: 'Alagard';
    -fx-font-size: 25px;
    -fx-background-color: #d68139;
}
.playButtonGreen {
    -fx-font-size: 30px;
}
.bg-blue {
    -fx-background-color: #001b30;
}
/**************************************************/
.textGeneral {
    -fx-font-family: 'Alagard';
    -fx-text-fill: white;
    -fx-font-size: 20px;
}
.textFontBig {
    -fx-font-size: 30px;
}
.bgEndingScene {
    -fx-background-color: rgba(0,0,0,0.5);
}
.bgBrown {
    -fx-background-color: #412B0F;
}
#cardsInDeck {
    -fx-font-size: 18px;
}
#cards {
    -fx-text-fill: lightgreen;
}