@font-face {
    font-family: 'Alagard';
    src: url('../fonts/alagard.ttf');
}
.root{
    -fx-background-size: cover, cover, cover, cover;
    -fx-background-position: top, top, top, top;
    -fx-background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;

    -fx-background-image:
            url("../images/forest/parallax-forest-back-trees_800px.png"),
            url("../images/forest/parallax-forest-lights_800px.png"),
            url("../images/forest/parallax-forest-middle-trees_800px.png"),
            url("../images/forest/parallax-forest-front-trees_800px.png")
}

.textGeneral {
    -fx-font-family: 'Alagard';
    -fx-text-fill: white;
    -fx-font-size: 20px;
}

.textGreen {
    -fx-text-fill: lightgreen;
}
.textSizeStartLabels {
    -fx-font-size: 25px;
}
.textSizeSmall {
    -fx-font-size: 18px;
}
.textSizeNormal {
    -fx-font-size: 30px;
}
.textSizeBig {
    -fx-font-size: 40px;
}
.textSizeVeryBig {
    -fx-font-size: 50px;
}
.textPaddingSmall {
    -fx-label-padding: 10px;
}
.bgEndingScene {
    -fx-background-color: rgba(0,0,0,0.5);
}
.bgBrown {
    -fx-background-color: #412B0F;
}
.bgLightBrown {
    -fx-background-color: #d68139;
}
.bg-blue {
    -fx-background-color: #001b30;
}
.green-border {
    -fx-border-color: lightgreen;
    -fx-border-width: 1px;
}
.red-border {

}
.light-brown-border {
    -fx-border-color: #d68139;
    -fx-border-width: 1px;
}
.outline.label .text {
    -fx-stroke: black;
    -fx-stroke-type: OUTSIDE;
    -fx-stroke-width: 2px;
}
.table-view .scroll-bar * {
    -fx-min-width: 0;
    -fx-pref-width: 0;
    -fx-max-width: 0;

    -fx-min-height: 0;
    -fx-pref-height: 0;
    -fx-max-height: 0;
}
.table-view, .table-view:focused {
    -fx-background-color: white;
    -fx-padding: 0;
    -fx-border-width: 0;
}
.table-view .table-column {
    -fx-alignment: center;
}
.table-view .column-header{
    -fx-background-color: #d68139;
}
.table-view .column-header .label {
    -fx-text-fill: white;
}
.table-row-cell{
    -fx-border-width: 0;
    -fx-background-color: white;
}
.table-column {
    -fx-border-color: #412B0F;
}

.textInput {
    -fx-font-family: 'Alagard';
    -fx-font-size: 25px;
    -fx-text-fill: black;
    -fx-background-color: white;
}

.infoLabel {
    -fx-font-family: 'Alagard';
    -fx-font-size: 25px;
    -fx-text-fill: white;
    -fx-background-color: transparent;

    -fx-stroke: black;
    -fx-stroke-type: OUTSIDE;
    -fx-stroke-width: 2px;
}

.warning {
    -fx-text-fill: red;
}
